.tweets-search-container{
    margin-top: 30px;
    margin: 30px 20px 30px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #979797;
}

.tweets-search-container input{
    flex:1;
}

input:focus{
   outline: none;
}

input{
    background-color: transparent;
    border:none;   
    font-size: 30px;
    color: white;
    padding: 0 10px;
    box-shadow: none;
    border: hidden;
}
